.formation{
    background-color: #141414;
    color: #ffffff;
}

.formation-container{
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    position: relative;
}

.formation-container::after{
    content: '';
    display: block;
    width: 130px;
    height: 100px;
    background: url('../img/detalhe.svg') no-repeat center;
    position: absolute;
    bottom: -50px;
    left: 20px;
}

.formation .subtitle{
    color: #000;
    max-width: 5ch;
}

/* .formation--text, .formation--text strong, ul li, span, h3{
    color: #fff;
} */

.formation--text{
    font-size: 1.5rem;
    max-width: 40ch;
    line-height: 1.33;
    margin-bottom: 60px;
    color: #a3a3a3;
}

.formation--text strong{
    color: #fff;
}

.college-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}

.college{
    background: #000;
    padding: 20px;
    border-radius: 4px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.college-type{
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #a3a3a3;
}

.college-course{
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
    flex: 1;
    color: #fff;
}

.college-course::before{
    content: "";
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    display: block;
    position: absolute;
    left: -24px;
}

.college--university{
    font-size: 1.125rem;
    color: #a3a3a3;
}

.courses{
    margin-bottom: 60px;
}

.courses ul li, .languages ul li{
    color: #fff;
}

.formation--extra h3{
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.formation--extra h3::before{
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background: url("../img/cursos.svg") no-repeat center center;
    position: absolute;
    left: -36px;
    top: -4px;
}

.courses h3::before{
    background: url("../img/idiomas.svg") no-repeat center center;
}

.formation--extra li{
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.formation--extra span{
    color: #8f8f8f;
}

.courses li{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px){
    .formation-container{
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }

    .formation .subtitle{
        color: #fff;
    }

    .formation--text{
        font-size: 1.25rem;
    }

    .formation--extra h3::before{
        position: initial;
        margin-bottom: 10px;
    }
}